.about {
    background: #dcdddf;
    min-height: 596px;

    .col-8 {

        h2 {
            margin-left: -1.1px;
            color: #214266;
            font-size: 51px;
            line-height: 1.05em;
            text-transform: uppercase;
            letter-spacing: -5.7px;
            margin-top: 78px;
            max-width: 669px;

            +p {
                margin-top: 29.5px;
            }
        }

        p {
            font-size: 18px;
            line-height: 1.6em;
            letter-spacing: 0.8px;
            max-width: 727px;
        }
    }

    .read {
        margin-top: 82px;

        .btn {

            width: 181px;
            height: 56px;
            border-radius: 5px;
            border: solid #214266;
            color: #214266;
            font-size: 15px;
            line-height: 19px;

        }
        img {
            margin-right: 50px;
        }

    }
}

.img-ab {



    img {
        max-width: 100%;

    }
}
