.answer {
    padding: 50px 0;
    background: #dcdddf;
    .ans {
        .text {
            h2 {
                color: #214266;
                font-size: 42px;
                line-height: 31px;
                text-transform: uppercase;
                letter-spacing: -4.1482153px;
            }
        }

        .see {
            margin-left: 20px;
            img {
                margin-right: 20px;
            }

            .btn {
                color: #ffffff;
                font-size: 15px;
                line-height: 19px;
                border-radius: 5px;
                background: #214266;
            }
        }
    }
}