.banner {
    margin-bottom: 16px;
    .row {
        min-height: 170px;

        .col-2 {

            text-align: center;

            .ban {
            

                img {
                    margin-left: 53px;

                    margin-bottom: 12px;
                    max-width: 70px;
                    min-height: 60px
                }

                p {

                    margin-bottom: 0;
                    color: #333132;
                    font-family: "Source Sans Pro";
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: center;
                    letter-spacing: 1.246667px;
                    text-transform: uppercase;
                }
            }
        }
    }
}