.foot {
    background: #214266;
    border-bottom: 1px gray solid;

    .logofoot {
        padding: 20px 0;

        .logo {
            img {
                margin-top: 5px;
                margin-left: -5px;
                width: 112px;
                height: 112px;
            }

        }

        .cafoot {
            margin-top: 18px;
            .day {
                height: 81px;
                width: 139px;
                background: #1c385a;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 23px;
                padding-top: 13px;

                &:last-child {
                    padding-left: 9px;
                }

                p {
                    opacity: 0.7;
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                    letter-spacing: 0.814796px;
                }



                h2 {
                    text-transform: uppercase;
                    color: #ffffff;
                    font-size: 26px;
                    line-height: 33px;
                }

            }

            .check {
                width: 202px;
                height: 81px;
                background: #ee9800;

                h3 {

                    color: #ffffff;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;


                }
            }
        }
    }
}
@media screen and (max-width: 991px)  {
    .foot {
        border-bottom: none;
        .logofoot {
            padding: 0;
            flex-direction: column-reverse;
            align-items: center;
            .logo{
                display: flex;
                justify-content: center;
                img{
                    margin-top: 30px;
                }
            }
            .cafoot {
                display: flex;
                justify-content: center;
                margin-top: 0;
            }
        }
    }
   }
   @media screen and (max-width: 575px)  {
    .foot{
       
        .logofoot{
            .cafoot {
                left: 0;
                right: 0;
                transform: none;
                .day{
                    width: 110px;
                    padding-left: 10px;
                    p{
                        font-size: 9px;
                    }
                    h2{
                        font-size: 20px;
                    }
                }
                .check {
                    width: 170px;
                    h3{
                        font-size: 13px;
                    }
                }
            }
        }
    }
   }