.footer {
    background: #214266;

    .allfoot {
        padding: 58px 0;

        .fin {
            .firstfoot {
                h3 {
                    color: #ffffff;
                    font-size: 19px;
                    line-height: 24px;
                    text-transform: uppercase;

                    &:last-child {
                        margin-left: 100px;
                    }
                }

                a {
                    letter-spacing: -1.6px;
                    color: #ffffff;
                    font-size: 30px;
                    line-height: 39.5px;
                }

                p {
                    margin-top: 6px;
                    max-width: 114.77px;
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 22.4px;
                }

                .btn {
                    width: 218px;
                    min-height: 55px;
                    margin-top: -3px;
                    color: #214266;
                    font-size: 15px;
                    line-height: 19px;
                    border-radius: 5px;
                    background: #ffffff;
                }

                .name {

                    .two {


                        .form-control {
                            margin-right: 18px;
                            max-width: 231px;
                            height: 56px;
                            margin-top: 4px;
                            border-radius: 5px;
                            background: #ffffff;
                            color: #a8a9ad;
                            font-size: 15px;
                            line-height: 19px;
                        }
                    }

                }

                .email {

                    .input-group {
                        max-width: 100%;
                        margin-top: 4px;

                        .form-control {
                            min-height: 55px;
                        }

                        .input-group-prepend {
                            .input-group-text {
                                background: #1b3759;
                                color: #ffffff;
                                font-size: 15px;
                                line-height: 19px;
                                border: none;
                            }

                        }
                    }
                }
            }
        }

        .second {
            margin-top: 50px;

            .sefoot {
                p {

                    color: #ffffff;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .cards {
                background: #214266;
                border: none;
                flex-wrap: wrap;

                li {

                    list-style: none;
                    color: #ffffff;
                    font-size: 16px;
                    line-height: 20px;
                }

            }
        }
    }
}

@media screen and (max-width: 991px) {
    .allfoot {
        .fin {
            .firstfoot {

                .find-us {
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p{

                        text-align: center;
                    }
                }

                .contact-us {
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        max-width: 100%;
                    }
                }

                .notified {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .name {
                        .two {
                            .mb-3 {

                                .form-control {
                                    margin-right: 0;
                                    padding: 0 25px;
                                }
                            }
                        }

                        .email {
                            .input-group {
                                display: flex;

                                .form-control {
                                    width: 100%;
                                    margin-bottom: 20px;
                                }

                                .input-group-prepend {
                                    width: 100%;

                                    .input-group-text {
                                        text-align: center;
                                        display: inline-block;
                                        line-height: 55px;
                                        width: 100%;
                                        min-height: 55px;
                                    }

                                }

                            }
                        }
                    }
                }
            }
        }

        .second {
            .sefoot {
                flex-direction: column-reverse;

                .pri {
                    .cards {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        li {
                            margin-bottom: 20px;
                        }
                    }
                }

                .way {
                    display: flex;
                    justify-content: center;

                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}