.infor {
    h2 {
        color: #214266;
        font-size: 52px;
        line-height: 38px;
        text-transform: uppercase;
        letter-spacing: -5.1358857px;
        margin-top: 50px;
    }

    .main-infor {
    margin-top: 50px;
        .jessica {
            
            border-radius: 5px;
            border: solid 1px #dcdddf;

            .both-jes {
                padding: 50px 10px;

                .infi {

                   
                    .imgin {
                        img {
                            width: 51.9px;
                            height: 55px;

                        }

                        .starin {
                            .star {
                                img {
                                    width: 16.04px;
                                    height: 17px;
                                }
                            }

                            h3 {
                                color: #020529;
                                font-size: 18px;
                                line-height: 23px;
                            }
                        }
                    }

                    img {
                        width: 27.37px;
                        height: 29px;
                    }
                }

                p {
                    margin-top: 25px;
                    max-width: 300.09px;
                    font-size: 18px;
                    line-height: 23px;
                }
            }

        }
    }
}