.infor {
    h2 {
        color: #214266;
        font-size: 52px;
        line-height: 38px;
        text-transform: uppercase;
        letter-spacing: -5.1358857px;
        margin-top: 76px;
        margin-left: -5px;
    }

    .main-infor {
        margin-top: 50px;
        margin-bottom: 100px;

        .jessica {

            border-radius: 5px;
            border: solid 1px #dcdddf;

            .both-jes {
                margin: 27px 34px;

                .infi {


                    .imgin {
                        img {
                            margin-top: -2px;

                            width: 51.9px;
                            height: 55px;

                        }

                        .starin {
                            margin-left: 13px;
                            margin-top: 10px;
                            .star {
                                img {
                                    width: 16.04px;
                                    height: 17px;
                                }
                            }

                            h3 {
                                margin-bottom: 0;
                                color: #020529;
                                font-size: 18px;
                                line-height: 23px;
                            }
                        }
                    }

                    img {
                        margin-top: 12px;

                        width: 27.37px;
                        height: 29px;
                    }
                }

                p {
                    margin-top: 25px;
                    max-width: 300.09px;
                    font-size: 18px;
                    line-height: 23.1px;
                }
            }

        }
    }
}