.slide {
    background: #d8d8d8;
   

    .row {
        min-height: 519px;
       
        // background: rgb(0, 0, 0);
        // background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(33, 66, 102, 1) 32%, rgba(255, 255, 255, 0) 100%);
        img {
            border-radius: 5px;

            width: 380px;
            height: 375px;
           
        }
    }

}